.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/agile/v17/DocumentLayout.backup.json
.vs/agile/v17/.wsuo
.vs/agile/FileContentIndex/a6f2b597-d8dd-4a97-93fb-e082884fca9f.vsidx
.vs/agile/FileContentIndex/1b75013b-ce15-4909-b7d4-47de0a1ff2cd.vsidx
